#portfolio {
  padding-top: 5.5rem;
}

button {
  background: transparent;
}

.filter_btns {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.portfolio_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  /* margin-top: 30px; */
}

.portfolio_container img {
  width: 15rem;
  height: auto;
  border-radius: 10px;
  margin: 0 auto 1rem auto;
}

.portHeader {
  opacity: 0;
}
.portHeader_bottom {
  margin-bottom: 2.5rem;
}
.portfolio_article {
  width: 17rem;
  height: auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(31, 31, 56, 1) 30%,
    rgba(77, 181, 255, 0.2) 100%
  );
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 2rem;
  opacity: 0;
}

.portfolio_article h5 {
  margin-bottom: 2rem;
}

.portfolio_article a {
  padding: 0.5rem 1rem;
  font-size: 10px;
  margin-right: 1rem;
}

.swiper-pagination-bullet {
  margin-top: 30px;
}
.portLower {
  margin-top: 90px;
  opacity: 0.5;
}

@media only screen and (max-device-width: 480px) {
  .filter_btns {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
}
