#about {
  padding: 3rem 1rem;
}
.about_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_me_text {
  width: 60%;
}
.about_me_text span {
  color: var(--color-primary);
}

.test1 {
  margin-top: 30px;
}
.my_image {
  width: 25vw;
  height: 27vw;
  border-radius: 0 30px 0 0;
  /* transform: translateY(50px);
  opacity: 0.5;
  transition: all 1s ease-in-out; */
}
.about_container h5 {
  font-size: 8px;
  margin-bottom: 10px;
  color: var(--color-light);
}
.about_container a {
  margin-top: 2rem;
}

/* ===================  MEDIA QUERIES (MEDIUM DEVICES)  ================= */

@media screen and (max-width: 1024px) {
  .about_container {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  section {
    padding: 1rem;
  }
  section h2 {
    margin-bottom: 2rem;
  }
}

/* ===================  MEDIA QUERIES (SMALL DEVICES)  ================= */

@media screen and (max-width: 600px) {
  .about_container img {
    width: 40vw;
    height: 40vw;
  }
  .about_me_text {
    width: 80%;
  }
}

/* ===================  SCROLL ANIMATION  ====================== */

/* .show {
  transform: translateY(10px);
  opacity: 1;
} */
